html{
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    /* background-color: black; */
    margin: auto;
    height: 650px;
    width: 480px;
    position: absolute;
    bottom: 0;
    top: 350px;
    left: 0;
    right: 0;

}
@font-face {
    font-family: MiraculousChristmas;
    src: url(./font/MiraculousChristmas.ttf);
}
.holidayGreeting{
    width:100%;
    text-align:center;
    font-size: 165px;
    font-family: MiraculousChristmas;
}


.head{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: relative;
    top: 120px;
    left: 190px;
}


.Hat_Top {
    background-color: darkgreen;
    position: relative;
    left: 20px;
    top: -50px;
    width: 60px;
    height: 50px;
    border-radius: 10% 10% 0 0;
}

.Hat_Middle {
    background-color: maroon;
    position: relative;
    left: 20px;
    top: -58px;
    width: 60px;
    height: 14px;
    border-radius: 20%;
}
  
.Hat_Bottom {
    background-color: darkgreen;
    position: relative;
    left: 6px;
    top: -60px;
    width: 88px;
    height: 13px;
    border-radius: 20%;
}
  
.Scarf_Right {
    background-color: maroon;
    position: relative;
    left: 85px;
    top: -10px;
    width: 24px;
    height: 59px;
    border-radius: 25%;
}
  
.Scarf_Center {
    background-color: maroon;
    position: relative;
    left: 30px;
    top: 0px;
    width: 90px;
    height: 18px;
    border-radius: 25%;
}
  
.Scarf_Left {
    background-color: maroon;
    position: relative;
    left: 46px;
    top: -65px;
    width: 18px;
    height: 29px;
    border-radius: 25%;

}

.eyes{
    width: 15px;
    height: 15px;
    position: relative;
    top: -50px;
    left: 20px;
    background: black;
    border-radius: 50%;
    box-shadow: 45px 0;
}

.nose{
    width: 0;
    height: 0;
    top: -56px;
    left: 56px;
    position: relative;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 30px solid orange;
    border-radius: 40%;
    transform: rotate(90deg);
}

.mouth{
    width: 5px;
    height: 5px;
    position: relative;
    top: -50px;
    left: 47px;
    background: black;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 17px -2px, -17px -2px, -30px -10px, 30px -10px;
}


.buttonMiddle{
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 70px;
    background: black;
    border-radius: 50%;
    box-shadow: 0px 70px;
}

.middle{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: relative;
    top: 105px;
    left: 165px;
}

.branch1L{
    position: relative;
    background-color: #6B4000;
    width: 8px;
    height: 80px;
    top: -80px;
    left: -30px; 
    transform: rotate(-120deg);
    border-radius: 30%;
}

.branch2L{
    position: relative;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: -110px;
    left: -50px; 
    transform: rotate(10deg);
    border-radius: 30%;
}

.branch3L{
    position: relative;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: -141px;
    left: -55px; 
    transform: rotate(-70deg);
    border-radius: 30%;
}

.branch1R{
    position: relative;
    background-color: #6B4000;
    width: 8px;
    height: 80px;
    top: -203px;
    right: -170px; 
    transform: rotate(120deg);
    border-radius: 30%;
}

.branch2R{
    position: relative;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: -245px;
    right: -200px; 
    transform: rotate(70deg);
    border-radius: 30%;
}

.branch3R{
    position: relative;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: -251px;
    right: -193px; 
    transform: rotate(-10deg);
    border-radius: 30%;
}

.buttonBottom{
    width: 10px;
    height: 10px;
    position: relative;
    top: 40px;
    left: 102px;
    background: black;
    border-radius: 50%;
    box-shadow: 0px 70px;
    z-index: 1;
}

.bottom{
    width: 210px;
    height: 210px;
    position: relative;
    background: white;
    border-radius: 50%;
    top: 80px;
    left: 134px;
}

.snow{
    background-color: white;
    height: 200px;
    width: 108vw;
    position: absolute;
    bottom: 0;
    margin-bottom:-200px;
    left:-8px;
}

.snowfall{
    background: url(images/Snow2.png);
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    animation: snow 5s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
}

@keyframes snow{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100vh;
    }
}

/* @media screen and (min-width: 320px) {

  } */


@media only screen and (min-width: 1024px) {
    /* styles for browsers larger than 960px; */
    .container{
        top: 280px;
    }
    .snow {
        height:310px;
    }
}
@media only screen and (min-width: 1024px) and (max-device-height:1400px){
    /* styles for browsers larger than 960px; */
    .container{
        top: 280px;
    }
    .snow {
        height:580px;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .container{
        top: 200px;
    }
    .snow {
        height:390px;
    }
}

@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .container{
    top: 990px;
    }
    .snow {
        height:480px;
    }
}
@media only screen and (max-device-width: 414px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .container{
     top: 190px;
     }
     .snow {
         height:780px;
     }
 }
@media only screen and (max-device-width: 375px) and (max-device-height:812px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .container{
     top: -290px;
    }
    .snow {
        height:1230px;
    }
 }
 @media only screen and (max-device-width: 375px) and (max-device-height:680px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .container{
     top: -290px;
    }
    .snow {
        height:1030px;
    }
 }
 @media only screen and (max-device-width: 320px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .container{
     top: 200px;
    }
    .snow {
        height:800px;
    }
 }
@media only screen and (device-width: 768px) {
   /* default iPad screens */
   .container{
    top: 450px;
    }
    .snow {
        height:450px;
    }
}


  