html{
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .container{
    position: absolute;
    top: 30%;
    left: -10%;

} */

.Hat_Top {
    background-color: darkgreen;
    position: absolute;
    left: 620px;
    top: 45px;
    width: 60px;
    height: 50px;
    border-radius: 10% 10% 0 0;
}
  
.Hat_Middle {
    background-color: maroon;
    position: absolute;
    left: 620px;
    top: 90px;
    width: 60px;
    height: 14px;
    border-radius: 20%;
}
  
.Hat_Bottom {
    background-color: darkgreen;
    position: absolute;
    left: 606px;
    top: 100px;
    width: 88px;
    height: 13px;
    z-index: 1;
    border-radius: 20%;
}
  
.Scarf_Right {
    background-color: maroon;
    position: absolute;
    left: 655px;
    top: 190px;
    width: 24px;
    height: 59px;
    z-index: 1;
    border-radius: 25%;
}
  
.Scarf_Center {
    background-color: maroon;
    position: absolute;
    left: 605px;
    top: 187px;
    width: 90px;
    height: 18px;
    border-radius: 25%;
    z-index: 1;
}
  
.Scarf_Left {
    background-color: maroon;
    position: absolute;
    left: 630px;
    top: 198px;
    width: 18px;
    height: 29px;
    border-radius: 25%;
    z-index: 1;
}

.eyes{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 130px;
    left: 621px;
    background: black;
    border-radius: 50%;
    box-shadow: 45px 0;
}

.nose{
    width: 0;
    height: 0;
    top: 138px;
    left: 659px;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 30px solid orange;
    border-radius: 40%;
    transform: rotate(90deg);
}

.mouth{
    width: 5px;
    height: 5px;
    position: absolute;
    top: 175px;
    left: 648px;
    background: black;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 17px -2px, -17px -2px, -30px -10px, 30px -10px;
}

.head{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 600px;
}

.buttonMiddle{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 220px;
    left: 648px;
    background: black;
    border-radius: 50%;
    box-shadow: 0px 70px;
}

.middle{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 185px;
    left: 576px;
}

.branch1L{
    position: absolute;
    background-color: #6B4000;
    width: 8px;
    height: 80px;
    top: 220px;
    left: 746px; 
    transform: rotate(120deg);
    border-radius: 30%;
}

.branch2L{
    position: absolute;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: 258px;
    left: 774px; 
    transform: rotate(50deg);
    border-radius: 30%;
}

.branch3L{
    position: absolute;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: 272px;
    left: 770px; 
    transform: rotate(-10deg);
    border-radius: 30%;
}

.branch1R{
    position: absolute;
    background-color: #6B4000;
    width: 8px;
    height: 80px;
    top: 226px;
    right: 800px; 
    transform: rotate(-125deg);
    border-radius: 30%;
}

.branch2R{
    position: absolute;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: 268px;
    right: 830px; 
    transform: rotate(-60deg);
    border-radius: 30%;
}

.branch3R{
    position: absolute;
    background-color: #6B4000;
    width: 5px;
    height: 20px;
    top: 279px;
    right: 822px; 
    transform: rotate(-8deg);
    border-radius: 30%;
}

.buttonBottom{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 360px;
    left: 648px;
    background: black;
    border-radius: 50%;
    box-shadow: 0px 70px;
    z-index: 1;
}

.bottom{
    width: 210px;
    height: 210px;
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 310px;
    left: 546px;
}

